/* ========================================
 * CSS written here will override Tachyons
 * ======================================== */
@import "compass/css3";
 .morning{
   background: #50caf4;
   color: orange;
    }
.afternoon{
  background-color:#7fa7d8;
  color: gold;
  }
.evening{
  background: #2a3744;
  color: white;
}
.breezy.windy.evening{
  background: #2a3744;
  color: white;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.cloud{
  background-color: #fff;
  width: 130px;
  height: 130px;
  border-top-right-radius: 130px;
  border-top-left-radius: 130px;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
  position: relative;
  &:after{
    content: '';
    z-index: -1;
    position: absolute;
    background-color:#fff;
    left: 80%;
    bottom: 0;
    width: 65px;
    height: 65%;
    border-top-right-radius: 65px;
    border-bottom-right-radius: 65px;
  }
  &:before{
   content: '';
    z-index: -1;
    width: 100px;
    height: 60%;
    position: absolute;
    background-color: #fff;
    left: -25px;
    bottom: 20px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
  }
}


.c1 {
	-webkit-animation: moveclouds 15s linear infinite;
  opacity: 0.7;
  top: 50px;
}

.c2{
  -webkit-transform: scale(0.6);
  opacity: 0.3;
  -webkit-animation: moveclouds 25s linear infinite;
  left: 200px;
}

.c3{
  -webkit-transform: scale(0.8);
  opacity: 0.5;
  -webkit-animation: moveclouds 30s linear infinite;
  top: -200px;
  left: 100px;
}

.c4{
  opacity: 0.8;
  -webkit-animation: moveclouds 10s linear infinite;
  left: 500px;
  top: -400px;
}

.c5{
  opacity: 0.3;
  -webkit-transform: scale(0.4);
  -webkit-animation: moveclouds 28s linear infinite;
  left: 50px;
  top: -450px;
}


@-webkit-keyframes moveclouds {
	0% {margin-left: 1200px;}
	100% {margin-left: -1000px;}
}
}
.breezy.windy.afternoon{
  background-color:#7fa7d8;
  color: gold;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.cloud{
  background-color: #fff;
  width: 130px;
  height: 130px;
  border-top-right-radius: 130px;
  border-top-left-radius: 130px;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
  position: relative;
  &:after{
    content: '';
    z-index: -1;
    position: absolute;
    background-color:#fff;
    left: 80%;
    bottom: 0;
    width: 65px;
    height: 65%;
    border-top-right-radius: 65px;
    border-bottom-right-radius: 65px;
  }
  &:before{
   content: '';
    z-index: -1;
    width: 100px;
    height: 60%;
    position: absolute;
    background-color: #fff;
    left: -25px;
    bottom: 20px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
  }
}


.c1 {
	-webkit-animation: moveclouds 15s linear infinite;
  opacity: 0.7;
  top: 50px;
}

.c2{
  -webkit-transform: scale(0.6);
  opacity: 0.3;
  -webkit-animation: moveclouds 25s linear infinite;
  left: 200px;
}

.c3{
  -webkit-transform: scale(0.8);
  opacity: 0.5;
  -webkit-animation: moveclouds 30s linear infinite;
  top: -200px;
  left: 100px;
}

.c4{
  opacity: 0.8;
  -webkit-animation: moveclouds 10s linear infinite;
  left: 500px;
  top: -400px;
}

.c5{
  opacity: 0.3;
  -webkit-transform: scale(0.4);
  -webkit-animation: moveclouds 28s linear infinite;
  left: 50px;
  top: -450px;
}


@-webkit-keyframes moveclouds {
	0% {margin-left: 1200px;}
	100% {margin-left: -1000px;}
}
}
.breezy.windy.morning{
  background: #50caf4;
  color: orange;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.cloud{
  background-color: #fff;
  width: 130px;
  height: 30px;
  border-top-right-radius: 130px;
  border-top-left-radius: 130px;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
  position: relative;
  &:after{
    content: '';
    z-index: -1;
    position: absolute;
    background-color:#fff;
    left: 80%;
    bottom: 0;
    width: 65px;
    height: 25%;
    border-top-right-radius: 65px;
    border-bottom-right-radius: 65px;
  }
  &:before{
   content: '';
    z-index: -1;
    width: 100px;
    height: 20%;
    position: absolute;
    background-color: #fff;
    left: -25px;
    bottom: 20px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
  }
}


.c1 {
	-webkit-animation: moveclouds 15s linear infinite;
  opacity: 0.7;
  top: 50px;
}

.c2{
  -webkit-transform: scale(0.6);
  opacity: 0.3;
  -webkit-animation: moveclouds 25s linear infinite;
  left: 200px;
}

.c3{
  -webkit-transform: scale(0.8);
  opacity: 0.5;
  -webkit-animation: moveclouds 30s linear infinite;
  top: -200px;
  left: 100px;
}

.c4{
  opacity: 0.8;
  -webkit-animation: moveclouds 10s linear infinite;
  left: 500px;
  top: -400px;
}

.c5{
  opacity: 0.3;
  -webkit-transform: scale(0.4);
  -webkit-animation: moveclouds 28s linear infinite;
  left: 50px;
  top: -450px;
}


@-webkit-keyframes moveclouds {
	0% {margin-left: 1200px;}
	100% {margin-left: -1000px;}
}
}
.rain.thunderstorm.drizzle.evening{
  background: #2a3744;
  color: white;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.cloud{
  background-color: black;
  width: 130px;
  height: 30px;
  border-top-right-radius: 130px;
  border-top-left-radius: 130px;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
  position: relative;
  &:after{
    content: '';
    z-index: -1;
    position: absolute;
    background-color:black;
    left: 80%;
    bottom: 0;
    width: 65px;
    height: 25%;
    border-top-right-radius: 65px;
    border-bottom-right-radius: 65px;
  }
  &:before{
   content: '';
    z-index: -1;
    width: 100px;
    height: 20%;
    position: absolute;
    background-color: black;;
    left: -25px;
    bottom: 20px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
  }
}


.c1 {
	-webkit-animation: moveclouds 15s linear infinite;
  opacity: 0.7;
  top: 50px;
}

.c2{
  -webkit-transform: scale(0.6);
  opacity: 0.3;
  -webkit-animation: moveclouds 25s linear infinite;
  left: 200px;
}

.c3{
  -webkit-transform: scale(0.8);
  opacity: 0.5;
  -webkit-animation: moveclouds 30s linear infinite;
  top: -200px;
  left: 100px;
}

.c4{
  opacity: 0.8;
  -webkit-animation: moveclouds 10s linear infinite;
  left: 500px;
  top: -400px;
}

.c5{
  opacity: 0.3;
  -webkit-transform: scale(0.4);
  -webkit-animation: moveclouds 28s linear infinite;
  left: 50px;
  top: -450px;
}

@-webkit-keyframes moveclouds {
	0% {margin-left: 1200px;}
	100% {margin-left: -1000px;}
}
.raining {
  position: absolute;
  top: calc(50% - 14em);
  left: calc(50% - 10em);
}

.drop {
  position: inherit;
  top: calc(50%);
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background-color: powderblue;
  animation: raining 1s infinite;
}

.drop-1::before,
.drop-2::before,
.drop-3::before,
.drop-4::before,
.drop-5::before {
  content: '';
  position: relative;
  top: -37px;
  width: 0;
  height: 0;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-bottom: 2em solid powderblue;
}

.drop-1 {
  left: calc(50% - 10em);
  animation-delay: 1s;
}

.drop-2 {
  left: calc(50% - 5em);
  animation-delay: .5s
}

.drop-3 {
  left: calc(50%);
  animation-delay: .75s;
}

.drop-4 {
  left: calc(50% + 5em);
  animation-delay: 0.25s;
}

.drop-5 {
  left: calc(50% + 10em);
  animation-delay: .4s;
}

@keyframes raining {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(25em);
  }
}

@keyframes clouds {
  0% {
    transform: translateY(12px);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(12px);
  }
}
}
.rain.thunderstorm.drizzle.morning{
  background: #50caf4;
  color: orange;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.cloud{
  background-color: black;
  width: 130px;
  height: 30px;
  border-top-right-radius: 130px;
  border-top-left-radius: 130px;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
  position: relative;
  &:after{
    content: '';
    z-index: -1;
    position: absolute;
    background-color:black;
    left: 80%;
    bottom: 0;
    width: 65px;
    height: 25%;
    border-top-right-radius: 65px;
    border-bottom-right-radius: 65px;
  }
  &:before{
   content: '';
    z-index: -1;
    width: 100px;
    height: 20%;
    position: absolute;
    background-color: black;;
    left: -25px;
    bottom: 20px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
  }
}


.c1 {
	-webkit-animation: moveclouds 15s linear infinite;
  opacity: 0.7;
  top: 50px;
}

.c2{
  -webkit-transform: scale(0.6);
  opacity: 0.3;
  -webkit-animation: moveclouds 25s linear infinite;
  left: 200px;
}

.c3{
  -webkit-transform: scale(0.8);
  opacity: 0.5;
  -webkit-animation: moveclouds 30s linear infinite;
  top: -200px;
  left: 100px;
}

.c4{
  opacity: 0.8;
  -webkit-animation: moveclouds 10s linear infinite;
  left: 500px;
  top: -400px;
}

.c5{
  opacity: 0.3;
  -webkit-transform: scale(0.4);
  -webkit-animation: moveclouds 28s linear infinite;
  left: 50px;
  top: -450px;
}


@-webkit-keyframes moveclouds {
	0% {margin-left: 1200px;}
	100% {margin-left: -1000px;}
}
.raining {
  position: absolute;
  top: calc(50% - 14em);
  left: calc(50% - 10em);
}

.drop {
  position: inherit;
  top: calc(50%);
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background-color: powderblue;
  animation: raining 1s infinite;
}

.drop-1::before,
.drop-2::before,
.drop-3::before,
.drop-4::before,
.drop-5::before {
  content: '';
  position: relative;
  top: -37px;
  width: 0;
  height: 0;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-bottom: 2em solid powderblue;
}

.drop-1 {
  left: calc(50% - 10em);
  animation-delay: 1s;
}

.drop-2 {
  left: calc(50% - 5em);
  animation-delay: .5s
}

.drop-3 {
  left: calc(50%);
  animation-delay: .75s;
}

.drop-4 {
  left: calc(50% + 5em);
  animation-delay: 0.25s;
}

.drop-5 {
  left: calc(50% + 10em);
  animation-delay: .4s;
}

@keyframes raining {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(25em);
  }
}

@keyframes clouds {
  0% {
    transform: translateY(12px);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(12px);
  }
}
}
.rain.thunderstorm.drizzle.afternoon{
  background-color:#7fa7d8;
  color: gold;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.cloud{
  background-color: black;
  width: 130px;
  height: 30px;
  border-top-right-radius: 130px;
  border-top-left-radius: 130px;
  border-bottom-right-radius: 35px;
  border-bottom-left-radius: 35px;
  position: relative;
  &:after{
    content: '';
    z-index: -1;
    position: absolute;
    background-color:black;
    left: 80%;
    bottom: 0;
    width: 65px;
    height: 25%;
    border-top-right-radius: 65px;
    border-bottom-right-radius: 65px;
  }
  &:before{
   content: '';
    z-index: -1;
    width: 100px;
    height: 20%;
    position: absolute;
    background-color: black;;
    left: -25px;
    bottom: 20px;
    border-top-left-radius: 45px;
    border-bottom-left-radius: 45px;
  }
}


.c1 {
	-webkit-animation: moveclouds 15s linear infinite;
  opacity: 0.7;
  top: 50px;
}

.c2{
  -webkit-transform: scale(0.6);
  opacity: 0.3;
  -webkit-animation: moveclouds 25s linear infinite;
  left: 200px;
}

.c3{
  -webkit-transform: scale(0.8);
  opacity: 0.5;
  -webkit-animation: moveclouds 30s linear infinite;
  top: -200px;
  left: 100px;
}

.c4{
  opacity: 0.8;
  -webkit-animation: moveclouds 10s linear infinite;
  left: 500px;
  top: -400px;
}

.c5{
  opacity: 0.3;
  -webkit-transform: scale(0.4);
  -webkit-animation: moveclouds 28s linear infinite;
  left: 50px;
  top: -450px;
}


@-webkit-keyframes moveclouds {
	0% {margin-left: 1200px;}
	100% {margin-left: -1000px;}
}
.raining {
  position: absolute;
  top: calc(50% - 14em);
  left: calc(50% - 10em);
}

.drop {
  position: inherit;
  top: calc(50%);
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background-color: powderblue;
  animation: raining 1s infinite;
}

.drop-1::before,
.drop-2::before,
.drop-3::before,
.drop-4::before,
.drop-5::before {
  content: '';
  position: relative;
  top: -37px;
  width: 0;
  height: 0;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-bottom: 2em solid powderblue;
}

.drop-1 {
  left: calc(50% - 10em);
  animation-delay: 1s;
}

.drop-2 {
  left: calc(50% - 5em);
  animation-delay: .5s
}

.drop-3 {
  left: calc(50%);
  animation-delay: .75s;
}

.drop-4 {
  left: calc(50% + 5em);
  animation-delay: 0.25s;
}

.drop-5 {
  left: calc(50% + 10em);
  animation-delay: .4s;
}

@keyframes raining {
  0% {
    opacity: 1;
    transform: translateY(0px);
  }
  100% {
    opacity: 0;
    transform: translateY(25em);
  }
}

@keyframes clouds {
  0% {
    transform: translateY(12px);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(12px);
  }
}
}
.calm.clear.morning{
  {
  margin: 0 0 0 0;
  background: #50caf4;
  color: orange;
  animation-name: sky;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.sun {
  background: #f1c40f;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation-name: sun;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes sun {
  0% {
    transform: translate(384px, 200px);
    background: #E7920A;
  }
  25% {
    transform: translate(768px, -10px);
    background: #F9B900;
  }
  50% {
   transform: translate(1152px, -80px);
    background: #F9B900;
  }
  75% {
   transform: translate(1536px, -10px);
    background: #F9B900;
  }
  100% {
    transform: translate(1920px, 200px);
    background: #E13F01;
  }
}
.calm.clear.afternoon{
  {
  margin: 0 0 0 0;
  background-color:#7fa7d8;
  color: gold;
  animation-name: sky;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.sun {
  background: #f1c40f;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation-name: sun;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes sun {
  0% {
    transform: translate(384px, 200px);
    background: #E7920A;
  }
  25% {
    transform: translate(768px, -10px);
    background: #F9B900;
  }
  50% {
   transform: translate(1152px, -80px);
    background: #F9B900;
  }
  75% {
   transform: translate(1536px, -10px);
    background: #F9B900;
  }
  100% {
    transform: translate(1920px, 200px);
    background: #E13F01;
  }
}
.calm.clear.evening{
  {
    background: #2a3744;
    color: white;
  margin: 0 0 0 0;
  animation-name: sky;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.sun {
  background: #2a3744;
  color: white;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation-name: sun;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
@keyframes sun {
  0% {
    transform: translate(384px, 200px);
    background: #5B5A59;
  }
  25% {
    transform: translate(768px, -10px);
    background: #CEC8BA;
  }
  50% {
   transform: translate(1152px, -80px);
    background: #CEC8BA;
  }
  75% {
   transform: translate(1536px, -10px);
    background: #CEC8BA;
  }
  100% {
    transform: translate(1920px, 200px);
    background: #E0E0E0;
  }
}
